@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

$bp-md: 600px;
$bp-lg: 800px;

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);

  @media (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}