@import "../../../styles/baseColors";

.org-wrapper
{
  display: flex;


  @media screen and (max-width: 768px) {
   display: block;
  }
}

.org-side-main
{
  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.org-side-container
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 60px;
  background: $accent_color;
  border-right: 1px solid gray;

  position: sticky;
  top: 0;

  @media screen and (max-width: 768px) {
    position: relative;
    flex-direction: row;
    width: 100vw;
    height: 60px;
  }
}

.org-side-item
{

  border: 2px solid $primary_color;
  border-radius: 10px;
  background: $primary_color;

  height: 50px;
  width: 50px;
  margin: 5px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;

  &:hover
  {
    border: 2px solid transparent;
    border-radius: 50px;
    background: $secondary_color;
  }

  &:hover .org-side-item-icon
  {
    color: $primary_color;
  }

}

.org-side-item-icon
{
  color: white;
}