.content-section
{
  width: 100vw;
}

.page-title
{
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
  margin: 5rem;
}

.input-field
{
  margin-bottom: 20px;
}

.set-card-title
{
  text-decoration: none;
  color: black;

  &:hover
  {
    cursor: pointer;
    text-decoration: none;
  }
}