@import "../../../../styles/baseColors";

.category {
  display: flex;
  border: none;
  background: none;
  padding: 2px 20px 2px 20px;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid $accent_color;
  }
}